@import "tailwindcss";

/* arrows */
.slick-prev, .slick-next {
  background-color: rgb(113, 14, 14);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.slick-prev:before, .slick-next:before {
    background-color: red;
    font-size: 20rem;
  color: #833838; /* change arrow color */
  font-size: 20px;
}


.slick-dots {
  bottom: -35px;        /* move dots below slider */
  display: flex !important;
  justify-content: center; /* center horizontally */
}
.slick-slide {
  display: flex !important;
  justify-content: center; /* center content inside each slide */
}



/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}



/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3a89e969 #0b0b0b00;
}